---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HELIOS-3D</title>
  </head>
  <body class="bg-black text-white">
    <h1 class="text-3xl font-bold">HELIOS-3D</h1>
    <p>Bootstrapping new site...</p>
  </body>
</html>
